{{ define "main" }}
<article
  itemscope
  itemtype="https://schema.org/Article"
  class="post-article">
  <header class="post-header">
    <h1 itemprop="headline">{{ .Title }}</h1>
    {{- with .Date }}
    <section class="post-metadata">
      Published: <time itemprop="datePublished" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ dateFormat "2006-01-02" . }}</time>
      {{- end -}}
      {{ with .Lastmod }}
      Revised:
      <time itemprop="dateModified" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ dateFormat "2006-01-02" . }}</time>
      {{- end -}}
    </section>
	{{- with .Params.description }}
    <p class="lead" itemprop="description"><em>{{ . -}}</em></p>
    {{- end -}}
  </header>
  <section class="post-content" itemprop="articleBody">
    {{- .Content -}}
  </section>
  {{- with .GetTerms "tags" }}
  <section class ="post-metadata">
  <ul class="post-tags" aria-label="Tags">
    {{- range $i, $t := . }}
    <li><a itemprop="keywords" href="{{ $t.RelPermalink }}">#{{ $t.Page.Title }}</a></li>
    {{- if $i }} {{ end }}
  </ul>
  </section>
  {{- end -}}
  {{- end -}}
  {{- $related := site.RegularPages.Related . | first 5 }}
  {{- with $related }}
  <section class="post-related">
    <h2>Related Posts</h2>
    <ul>
      {{ range . -}}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end -}}
    </ul>
  </section>
  {{ end }}
</article>
<!-- Previous / Next Navigation -->
{{ if or .PrevInSection .NextInSection }}
<nav class="post-nav"
     aria-label="Post navigation"
     style="display:flex; justify-content:space-between; width:100%; margin-top:2.33rem;">
  {{ with .PrevInSection }}
    <a class="post-nav-prev" href="{{ .RelPermalink }}">&lt;&lt; {{ .Title }}</a>
  {{- end -}}
  {{ with .NextInSection }}
    <a class="post-nav-next" href="{{ .RelPermalink }}">{{ .Title }} &gt;&gt;</a>
  {{ end -}}
</nav>
{{ end -}}
{{ end -}}
